In [1]:
%matplotlib inline
import matplotlib.pyplot
import numpy as np
import pandas as pd

data_url = \
"https://data.wprdc.org/datastore/dump/632fbb91-c55d-4221-a8ad-91c72902bc61"

rawData = pd.read_csv(data_url)
rawData.head(5)

,id,type,street,inactive,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
0,1559483633,Crosswalk - Other,ELEVENTH ST,f,Central Business District,6.0,2.0,42003020100,6.0,2.0,2.0,2-3,40.444989,-79.993884
1,785965942,Crosswalk - Two Lined,PENN AVE,f,Strip District,7.0,2.0,42003020300,6.0,2.0,2.0,2-3,40.445717,-79.992465
2,2008474459,Crosswalk - Two Lined,MORNINGSIDE AVE,f,Morningside,7.0,10.0,42003101400,2.0,10.0,5.0,3-7,40.479579,-79.930685
3,1207933462,Crosswalk - Two Lined,TECH ST,f,Squirrel Hill North,8.0,14.0,42003140100,3.0,14.0,4.0,2-8,40.440528,-79.942126
4,905740180,Crosswalk - Two Lined,FREW ST,f,Squirrel Hill South,5.0,14.0,42003980500,3.0,14.0,4.0,2-8,40.440468,-79.942267

In [47]:
clean = rawData["neighborhood"]
clean.to_frame()

                   neighborhood
0     Central Business District
1                Strip District
2                   Morningside
3           Squirrel Hill North
4           Squirrel Hill South
...                         ...
4643        Squirrel Hill North
4644        Squirrel Hill North
4645        Squirrel Hill North
4646        Squirrel Hill North
4647        Squirrel Hill North

[4648 rows x 1 columns]

In [53]:
graph = rawData["neighborhood"].value_counts().to_frame().sort_values(by="neighborhood", ascending=True)

graph.plot.bar(title="Number of Crosswalks", figsize=(20,8))

Central Business District    402
South Side Flats             262
Squirrel Hill South          239
Bloomfield                   192
Shadyside                    190
                            ...
Fineview                       3
Summer Hill                    3
Chartiers City                 1
St. Clair                      1
New Homestead                  1
Name: neighborhood, Length: 88, dtype: int64